alias cp='cp -i'
alias df='df -h'
alias egrep='egrep --colour=auto'
alias fgrep='fgrep --colour=auto'
alias free='free -m'
alias grep='grep --colour=auto'
alias ls='ls -h --color=auto'
alias more='less'
alias np='nano -w PKGBUILD'
alias yta='youtube-dl -f bestaudio --max-filesize 125M --write-description --embed-thumbnail --add-metadata'
alias ytpl='youtube-dl -f '\''bestvideo[height<=480]+bestaudio/best[height<=480]'\'' -o '\''%(playlist)s/%(playlist_index)s - %(title)s.%(ext)s'\'''
